<h1>Your current portfolio</h1>
<br>
<%= link_to 'Input New Holding', new_holding_path %>
<br>

<% @total_usd = 0 %>
<% @total_btc = 0 %>

<table>
    <br>
    <tr>
        <th>Crypto</th>
        <th>Amount</th>
        <th>BTC Total</th>
        <th>USD Total</th>
        <th>BTC Price</th>
        <th>USD Price</th>
        <th>1 HR</th>
        <th>24 HR</th>
        <th>1 WK</th>
    </tr>
    <br>

    <% @portfolio.each do |holding| %>

        <% @btc_value = (holding["amount"].to_f * holding["price_btc"].to_f) %>
        <% @usd_value = (holding["amount"].to_f * holding["price_usd"].to_f) %>

        <% @total_btc += @btc_value %>
        <% @total_usd += @usd_value %>

        <tr>
            <td>
                <%= holding["name"] %>
            </td>
            <td>
                <%= holding["amount"] %>
            </td>
            <td>
                ฿ <%= '%.8f' % @btc_value %>
            </td>
            <td>
                $ <%= '%.2f' % @usd_value %>
            </td>
            <td>
                ฿ <%= '%.8f' % holding["price_btc"].to_f %>
            </td>
            <td>
                $ <%= '%.2f' % holding["price_usd"].to_f %>
            </td>
            <td>
                <%= holding["percent_change_1h"] %> %
            </td>
            <td>
                <%= holding["percent_change_24h"] %> %
            </td>
            <td>
                <%= holding["percent_change_7d"] %> %
            </td>
            <td><%= link_to 'Details', holding_path(holding["id"]) %></td>
            <td><%= link_to 'Update', edit_holding_path(holding["id"]) %></td>
            <td><%= link_to 'Delete', holding_path(holding["id"]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
<br>
<strong>Total: </strong>
<p>BTC: ฿ <%= @total_btc.round(8) %></p>
<p>USD: $ <%= @total_usd.round(2) %></p>
