<h1>Your current portfolio</h1>
<%= link_to 'Input New Holding', new_holding_path %>

<table>
    <tr>
        <th>Crypto</th>
        <th>Amount</th>
    </tr>

    <% @holdings.each do |holding| %>
        <tr>
            <td><%= holding.crypto %></td>
            <td><%= holding.amount %></td>
            <td><%= link_to 'Details', holding_path(holding) %></td>
            <td><%= link_to 'Update', edit_holding_path(holding) %></td>
            <td><%= link_to 'Delete', holding_path(holding), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>