<h1>New Holding</h1>
<h3>Input a new holding and don't let go.</h3>

<%= form_with scope: :holding, url: holdings_path, local: true do |form| %>
    <p>
        <%= form.label :Name %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :Amount %><br>
        <%= form.text_area :text %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>