<h1>New Holding</h1>
<h3>Input a new token and hold on for dear life.</h3>

<%= form_with scope: :holding, url: holdings_path, local: true do |form| %>
    <p>
        <%= form.label :Crypto %><br>
        <%= form.text_field :crypto %>
    </p>

    <p>
        <%= form.label :Amount %><br>
        <%= form.text_area :amount %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>