<p>
    <strong>Holding:</strong>
    <%= @holding.crypto %>
</p>

<p>
    <strong>Amount:</strong>
    <%= @holding.amount %>
</p>

<p>
    <strong>USD:</strong>
    <% @usd_value = (@holding.amount.to_f * @response[0]["price_usd"].to_f) %>
    $<%= @usd_value %>
<p>

<p>
    <strong>BTC:</strong>
    <% @btc_value = (@holding.amount.to_f * @response[0]["price_btc"].to_f) %>
    <%= @btc_value %>
</p>
    


<p>
    <%= @response %>
</p>

<%= link_to 'Update', edit_holding_path(@holding) %>
<%= link_to 'Portfolio', holdings_path %>